@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}

.animate-slide-in {
    animation: slideIn 300ms forwards;
}

.animate-slide-out {
    animation: slideOut 300ms forwards;
}